# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [5]:
(10**2) + (50/2) - 25 + (1*0.25)

100.25

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [68]:
raiz1 = 100 ** 0.5

import math
raiz2 = math.sqrt(100)

raiz1, raiz2

(10.0, 10.0)

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [67]:
cuadrado1 = 100 ** 2

cuadrado1

10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [14]:
s = 'hello'

In [66]:
# Devolver la letra 'e'
letra_e = s[1]

# Darle la vuelta a la string
invertida = s[::-1]

# Dos métodos para devolver la letra 'o'
# Método 1:
letra_o1 = s[-1]

# Método 2: 
letra_o2 = invertida[0]

letra_e, invertida, letra_o1, letra_o2

('e', 'olleh', 'o', 'o')

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [65]:
# Forma 1: 
lista1 = [0, 0, 0]

# Forma 2: 
lista2 = [0] * 3

lista1, lista2

([0, 0, 0], [0, 0, 0])

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [18]:
lista = [1,2,[3,4,'hello']]

In [64]:
lista = [1, 2, [3, 4, 'hello']]

# Reasignar 'hello' por 'goodbye'
lista[2][2] = 'goodbye'
lista

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [20]:
listaSinOrdenar = [5,3,4,6,1]

In [63]:
listaSinOrdenar = [5, 3, 4, 6, 1]
listaSinOrdenar.sort()
listaSinOrdenar

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [22]:
f = {'k1':{'k2':'hello'}}

In [85]:
f = {'k1': {'k2': 'hello'}}

valor = f['k1']['k2']
valor

'hello'

In [24]:
d = {'key1':'hello'}

In [86]:
d = {'key1': 'hello'}

valor = d['key1']
valor

'hello'

In [26]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

In [87]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

valor = g['k1'][0]['o1'][1][0]
valor

'hello'

In [ ]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [103]:
h = {'k1':[1, 2, {'k2':['complicado', {'dificil':[1, 2, ['hello']]}]}]}

valor = h['k1'][2]['k2'][1]['dificil'][2][0]
valor

'hello'

#### 9.- Crea una tupla (1 pto)

In [102]:
mi_tupla = (1, 2, 3)
mi_tupla

(1, 2, 3)

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [31]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [101]:
listaDuplicada = [1, 2, 2, 33, 4, 4, 11, 22, 3, 3, 2]

valores_unicos = set(listaDuplicada)
valores_unicos

{1, 2, 3, 4, 11, 22, 33}

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [97]:
# 2 mayor que 3
2 > 3

False

In [98]:
# 3 igual que 2
3 == 2

False

In [99]:
# raíz cuadrada de 4 no es igual a 2
math.sqrt(4) != 2

False

In [100]:
# Se cumple si 6 es mayor que 5 y 7 menor de 8
6 > 5 and 7 < 8

True

In [45]:
nombre = "Pepito"
colores = ["azul","rojo","verde","lila","amarillo limón"]
# Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.
len(nombre) == len(colores) or len(nombre) < 7

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [82]:
lineas = [
    "Nombre\tApellidos\tEdad\tMascotas\n",
    "Ana\tGarcía López\t25\tbolita\n",
    "Luis\tMartínez Pérez\t30\tgato\n",
    "María\tSánchez Gómez\t28\tPelusa\n",
    "Juan\tHernández Ruiz\t22\tarbolito\n"
]

# Usamos el código utf-8 para que los acentos se vean bien
with open("tabla-nombres.txt", "w", encoding="utf-8") as f:
    f.writelines(lineas)

In [96]:
with open("tabla-nombres.txt", "r", encoding="utf-8") as f:
    contenido = f.read()
print(contenido)

Nombre	Apellidos	Edad	Mascotas
Ana	García López	25	bolita
Luis	Martínez Pérez	30	gato
María	Sánchez Gómez	28	Pelusa
Juan	Hernández Ruiz	22	arbolito

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [76]:
# Crear un diccionario
diccionario = {
    "Rattus": ["novergicus", "rattus"],
    "Glaucidium": ["brasilianum", "hoskinsii", "californicum", "minutissimum"],
    "Echinocactus": ["grusonii"],
    "Opuntia": [1]}

In [77]:
# Obtener el listado de keys 
lista_keys = list(diccionario.keys())
print("Lista de keys:", lista_keys)

Lista de keys: ['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia']

In [81]:
# Añadir elementos
diccionario["Felis"] = ["catus"]
diccionario["Canis"] = ["lupus", "familiaris"]

In [79]:
# Convertir la lista de keys en un set
set_keys = set(diccionario.keys())
print("Set de keys:", set_keys)

Set de keys: {'Glaucidium', 'Opuntia', 'Echinocactus', 'Rattus', 'Canis', 'Felis'}